@charset "UTF-8";
/*------------------------------------
 * sext-vi
 *
 * @author linghua.zhang@me.com
 * @link http://lhzhang.com/
 * @update 2014-03-17
 *
 * |/ | (~ (~
 * |\.|._)._)
 * --------------------------------- */
@import url(/media/fonts/telex-regular.css);
/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);*/
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: #555;
  background-color: #f9f9f9; }

ol, ul {
  list-style-position: inside; }

li {
  padding: .2em 0; }

hr {
  background: #ddd;/*改变现代浏览器下线条色*/
  color: #ddd;/*改变ＩＥ浏览器下线条色，最好和Background-color设置一样的色*/
  clear:both;/*可以用来清除浮动*/
  float: none;/*取消浮动，可以不设置*/
  width: 100%;/*显式定义宽度*/
  height: 1px;/*改变部分浏览器下的默认高度*/
  line-height: 1px;/*保证ＩＥ下高度效果一致，不留白色空白区*/
  font-size: 0;/*设置为0，以确保IE6下不留空白区*/
  border: none 0;/*取消默认边框，以背景和高度代替边框效果*/
  margin: 0 0 1.4em; }

.center {
  text-align: center; }

::selection {
  color: #fff;
  background-color: #333; }

a, header #header h1 a, article .title a, article .meta .tags a, article .divider a {
  text-decoration: none;
  color: #bb2222; }
  a:hover, header #header h1 a:hover, article .title a:hover, article .meta .tags a:hover, article .divider a:hover {
    color: #dd1144; }

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
      
blockquote, pre code {
  background-color: #f8f8f8;
  padding: 0 1em;
  border: 1px dashed #eee !important;
  border-color: #e0e0e0 !important;
  font-size: 13px;
  line-height: 1.6;
  word-wrap: break-word; 
  word-break: normal; 
  display: block;
  overflow: auto; }

code {
  background-color: #f8f8f8;
  padding: 2px 5px;
  border: 1px dashed #e0e0e0;
  font-family: "Ubuntu", monospace; }

h1 {
  margin-top: 1em;
  font-size: 1.35em; }

h2 {
  margin-top: 0.8em;
  font-size: 1.20em; }

h3 {
  margin-top: 0.8em;
  font-size: 1.1em; }

time {
  font-family: "Ubuntu", monospace; }

header {
  width: 680px;
  margin: 0 auto;
  text-align: justify;
  margin: 3em auto; }
  header:after {
    content: '';
    width: 100%;
    display: inline-block; }
  header #header {
    display: inline-block;
    position: relative;
    top: 1em; }
    header #header h1 {
      font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }
      header #header h1 a {
        color: #a9a9a9;
        display: block; }
  header nav {
    display: inline-block;
    position: relative;
    top: 1em; }
    header nav span {
      margin: .5em; }
    header nav a, header nav #header h1 a, header #header h1 nav a, header nav article .title a, article .title header nav a, header nav article .meta .tags a, article .meta .tags header nav a, header nav article .divider a, article .divider header nav a {
      font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
      color: #ccc; }

#content {
  width: 680px;
  margin: 0 auto;
  line-height: 2em; }
  #content .main-listing {
    margin-bottom: 2em; }

ul.listing {
  margin-top: 1em; }
  ul.listing li {
    list-style-type: none;
    padding: 0; }
    ul.listing li.listing-item a, ul.listing li.listing-item header #header h1 a, header #header h1 ul.listing li.listing-item a {
      padding: .2em 0 .2em 2em; }
    ul.listing li.listing-item time {
      color: #999; }
    ul.listing li.listing-item:hover {
      background-color: #f9f9f9; }
    ul.listing li.listing-seperator {
      font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }
      ul.listing li.listing-seperator:before {
        content: "⭠ ";
        color: #ccc; }

article {
  margin: 2em 0; }
  article p {
    padding: .7em 0; }
  article .title {
    font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; 
    font-size: 1.5em; 
    margin: 0.5em 0; }
  article .title header #header h1 a, header #header h1 article .title a, article .title a, article .title .meta .tags a, article .meta .tags .title a {
      color: #777; }
  article .meta {
    display: block;
    overflow: auto;
    margin-top: -.5em;
    font-size: .9em; }
    article .meta .tags header #header h1 a, header #header h1 article .meta .tags a, article .meta .tags a {
      color: #999999;
      padding: .25em; }
  article .post img {
    max-width: 680px;
    display: block;
    margin: .5em auto; }
  article .comment {
    margin: 3em 0; }
  article .divider {
    margin: 2em 0; }
    article .divider i {
      margin: 0 2em;
      color: #e9e9e9; }
    article .divider header #header h1 a, header #header h1 article .divider a, article .divider .meta .tags a, article .meta .tags .divider a, article .divider a {
      font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
      margin: 0 2em; }
      article .divider header #header h1 a i, header #header h1 article .divider a i, article .divider .meta .tags a i, article .meta .tags .divider a i, article .divider a i {
        color: #999999;
        margin: 0; }
        article .divider header #header h1 a i:hover, header #header h1 article .divider a i:hover, article .divider a i:hover {
          color: #bb2222 !important; }
  article .divider {
    position: relative;
    font-size: 1em;
    z-index: 1;
    overflow: hidden;
    text-align: center; }
  article .divider:before, article .divider:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 49%;
    height: 2px;
    content: '\a0';
    background-color: #f0f0f0; }
  article .divider:before {
    margin-left: -50%;
    text-align: right; }
  article .divider:after {
    margin-left: 1%; }

footer {
  width: 680px;
  margin: 0 auto;
  display: block;
  color: #909090;
  font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: .9em;
  text-align: center;
  margin: 1em auto; }
  footer a, footer header #header h1 a, header #header h1 footer a, footer article .title a, article .title footer a, footer article .meta .tags a, article .meta .tags footer a, footer article .divider a, article .divider footer a {
    color: #cccccc; }
    footer a:hover, footer header #header h1 a:hover, header #header h1 footer a:hover, footer article .meta .tags a:hover, article .meta .tags footer a:hover {
      color: #999999; }

#tag_cloud {
  margin-bottom: 1em; }

.gist {
  font-size: 13px;
  line-height: 1.6; }

.like-button {
  font-family: "FontAwesome";
  padding-right: 5px; }

.unlike-button {
  font-family: "FontAwesome";
  padding-right: 5px;
  color: #999; }

.like-button:hover {
  color: #dd1144; }

#like-wrapper {
  color: #999; }
  #like-wrapper .like-button, #like-wrapper .unlike-button {
    font-family: "FontAwesome";
    padding-right: 5px; }
  #like-wrapper .like-button:hover {
    color: #dd1144; }
